[project]
	description = Useful tools / scripts / commands
[access "refs/*"]
	owner = group user/Shireesh Anjal (anjalshireesh)
[access "refs/for/refs/*"]
	read = group user/Shireesh Anjal (anjalshireesh)
	push = group user/Shireesh Anjal (anjalshireesh)
	label-Code-Review = -2..+2 group user/Shireesh Anjal (anjalshireesh)
	label-Verified = -1..+1 group user/Shireesh Anjal (anjalshireesh)
	rebase = group user/Shireesh Anjal (anjalshireesh)
	removeReviewer = group user/Shireesh Anjal (anjalshireesh)
	submit = group user/Shireesh Anjal (anjalshireesh)
[access "refs/heads/*"]
	read = group user/Shireesh Anjal (anjalshireesh)
	create = group user/Shireesh Anjal (anjalshireesh)
	push = +force group user/Shireesh Anjal (anjalshireesh)
	pushMerge = group user/Shireesh Anjal (anjalshireesh)
[access "refs/tags/*"]
	push = +force group user/Shireesh Anjal (anjalshireesh)
	pushTag = group user/Shireesh Anjal (anjalshireesh)
	pushSignedTag = group user/Shireesh Anjal (anjalshireesh)
